*, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.footer__icon, .footer__link, .card__bodyHistory, .card__body, .main-body, .main__message, .header, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Open Sans";
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header, .footer {
  height: 60px;
  background: rgb(237, 134, 60);
}
.header .logo, .footer .logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: rgb(223, 223, 223);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.main__message {
  margin-top: 30px;
  width: 350px;
  height: 150px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 10px 3px rgba(135, 135, 135, 0.5);
          box-shadow: 0px 6px 10px 3px rgba(135, 135, 135, 0.5);
  padding: 10px;
}
.main__message h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.main__content {
  display: none;
}
.main__inp {
  height: 30px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #494949;
  display: none;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.main-top__title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.main-top__keyCode {
  text-align: center;
  font-weight: 700;
  font-size: 100px;
}

.main-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  padding: 20px 0 0 0;
}
.main-body__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.main-body__card:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 0px 7px 12px 0px #b6b6b8;
          box-shadow: 0px 7px 12px 0px #b6b6b8;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.card__header {
  background: rgb(237, 134, 60);
  padding: 10px;
}
.card__header h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
.card__body {
  min-height: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
}
.card__body * {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.card__footer {
  background: rgb(185, 200, 248);
  padding: 15px;
}
.card__footer p {
  color: #494949;
  font-size: 10px;
  text-align: justify;
}
.card__bodyHistory {
  padding: 26px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.history__key {
  padding: 0 5px;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.footer {
  padding: 10px;
}
.footer__link {
  gap: 10px;
}
.footer__link:hover {
  fill: rgb(13, 170, 198);
}
.footer__link:hover .footer__name {
  color: link-hover-color;
}
.footer__icon {
  width: 30px;
}