
*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
%flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Open Sans';
    color: black
}
a {
    text-decoration: none;
    color: inherit;
}

$prim-color: #ffffff;
$main-bg: rgb(237, 134, 60);
$bg-body: rgb(223, 223, 223);
$bg-card-foot:  rgb(185, 200, 248);

$text-card-head: #ffffff;
$text-desc: #494949;

$link-hover-color: rgb(13, 170, 198);

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 60px;
    background: $main-bg;
    @extend %flexcenter;
    .logo{
        color: $prim-color;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.5;
    }
}

.container {
    flex: 1 1 auto;
    background: $bg-body;
    display: flex;
    justify-content: center;
    
}
    
.main {
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    
    @media (max-width: 321px) {
            max-width: 320px;
        }
    &__message{
        margin-top: 30px;
        max-width: 350px;
        height: 150px;
        background: $prim-color;
        border-radius: 10px;
        box-shadow: 0px 6px 10px 3px rgb(135 135 135 / 50%);
            @extend %flexcenter;
        padding: 10px;
        h2{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
        }
    }
    &__content{
        display: none;
    }
    &__inp{
        @media (min-width: 769px) {
                display: none;
            }
        height: 40px;
        margin: 20px auto;
        border-radius: 5px;
        border: 1px solid $text-desc;
        background: $prim-color;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 10px;
        // justify-content: space-between;
        padding: 5px 10px;
        .icon__container{
            width: 20px;
            height: 100%;
    @extend %flexcenter;
            & svg {
                fill: $text-desc;
            }
        }
        input {
            height: 100%;
            width: 100%;
            border: none;
            font-size: 15px;
        }
        .input__container{
            width: 90%;
            height: 100%;
        }
    }
}

.hide {
    display: none;
}
.visible {
    display: block;
}

.title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.main-top {
    &__title {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
    &__keyCode {
        text-align: center;
        font-weight: 700;
        font-size: 100px;
    }
}

.main-body {
    @extend %flexcenter;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    padding: 20px 0 0 0;
    
    &__card {
        flex: 1 1 200px;
        display: flex;
        flex-direction: column;
        transition-duration: 0.1s;
        &:hover{
            transform: scale(1.04);
            box-shadow: 0px 7px 12px 0px #b6b6b8;
            transition-duration: 0.1s;
        }
    }
}

.key {}

.card {

    &__header {
        background: $main-bg;
        padding: 10px;
        h3{
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            color:$text-card-head;
        }
    }
    &__body {
        min-height: 250px;
        flex: 1 1 auto;
        background: $prim-color;
        @extend %flexcenter;
        
        & *{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
    }
    &__bodyKey {
        
    }


    &__footer {
        background: $bg-card-foot;
        padding: 15px;
        p{
            color: $text-desc;
            font-size: 10px;
            text-align: justify;
        }
    }
    &__bodylocation {
       
    }
    &__bodyCode {}

    &__bodyWhich {}

    &__bodyHistory {
        padding: 26px;
        @extend %flexcenter;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.history__key {
    padding: 0 5px;
    min-width: 60px;
    min-height: 60px;
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}
.location {}

.code {}

.which {}

.history {}

.footer {
    padding: 10px;
    &__link {
        @extend %flexcenter;
        gap: 10px;
        &:hover{
            fill: $link-hover-color;
            .footer__name{
                color: link-hover-color;
            }
            }
    }
    &__icon{
        width: 30px;
        @extend %flexcenter;
    }
}